

.blog-card {
  box-sizing: border-box;
  display: block;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.6);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: auto;
  width: 1000px;
  /*height: 400px;*/
}
.summery-picture{
    display: block;
    height: 250px;
    width: 100%;

}
.news{
    display:  block;
    /*height: 150px;*/
    position: center;
    margin: 20px 20px 20px 20px;
    padding: 0px 20px 20px 20px;
}
.tags{
    display:  block;
    height: 20px;
    position: center;
    margin: 0 auto;
}
.meta {
    display: inline-block;
  position: relative;
  height: 200px;
    width: 250px;
}
.description {
  display: inline-block;
  width: 700px;
  height: 200px;
  background: #fff;
  position: relative;
  top: -10px;


}
.blog-card a {
  color: inherit;
}

.photo {
  height: 150px;
  width: 250px;
  position: relative;

  display: inline;
  top: 10px;
  /*right: 0;*/
  /*bottom: 0;*/
  /*left: 10px;*/
  background-size: cover;
  background-position: center;

}

.t_u{
    display: inline-block;
}
#tu1 {
     padding-right: 325px ;
}





