<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link type="text/css" rel="stylesheet" href="../static/hello.css"/>
    <link type="text/css" rel="stylesheet" href="../static/normolize.css"/>
    <title>Title</title>
</head>
<body>
<div id="search_back">
    <form class="form-wrapper cf" action="/search/1" method="post" dir="rtl" align="right">
        <input type="text" placeholder="عبارت مورد نظر خود را وارد کنید" required name="query">
        <select name="sort_options" >
            <option value="accidental">تصادفی</option>
            <option value="connection">میزان ارتباط</option>
            <option value="time">زمان انتشار</option>
        </select>
        <button type="submit">جست‌و‌جو</button>
    </form>
</div>


</body>
</html>